<h1>Home page</h1>

 

 <% if current_user != nil %></br>
	<h2>Hello </h2>
		<% if current_user.following.count >= 1 %>
					<% current_user.following.each do |follow| %>
							<%=follow.nick_name %></br>
							<%  last_post = follow.posts.last %>
    			<p><%= image_tag last_post.avatar.url(:thumb) %></p></br>
  			<p><%= last_post.discarption %></p></br>
			<% end %>
	<% end %>

	<% else %>

 	<% end %>
 
<!-- 
		if you want all the post of user so we should to do
		at line 7 
		follower.posts.each do |post|
		post.discarption
		end
		coz this is loop for all user's post
 -->


